@import "tailwindcss";
@import "uploadthing/tw/v4";
@source "../../node_modules/@uploadthing/react/dist"; /** <-- depends on your project structure */
@source "public/js-dos/js-dos.css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-text-secondary: var(--body-text);
  --color-background-secondary: var(--lighter-background);
  --color-brand-secondary: var(--secondary);
  --color-brand-tertiary: var(--tertiary);

  --font-body:
    var(--font-montserrat), "Montserrat", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-display:
    var(--font-orbitron), "Orbitron", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
body {
  font-family: var(--font-body);
}

:root {
  --background: #0d0221;
  --body-text: #afdee0;
  --lighter-background: #261447;
  --secondary: #ff3864;
  --tertiary: #ff6c11;
  --text: #2de2e6;
}
